<template>
    <div>
        <div>{{ siteName }}</div>
        <Nuxt />
        <div> {{ companyAddress }} <br /> {{ companyTel }}</div>
    </div>
</template>

<script>
export default {
    computed: {
        siteName() {
            return this.$store.getters[this.$siteConfigConstants.GET_SITE_NAME]
        },
        companyAddress() {
            return this.$store.getters[this.$siteConfigConstants.GET_COMPANY_ADDRESS]
        },
        companyTel() {
            return this.$store.getters[this.$siteConfigConstants.GET_COMPANY_TEL]
        }
    }
}
</script>
