<template>
    <div>
        <div v-if="!isComplete">
            <div>{{ currentLevel + 1}} / {{ mindTests.length }}</div>
            <div><img :src="mindTests[currentLevel].photo"></div>
            <div>
                Q{{ currentLevel + 1 }}.
                <strong v-html="mindTests[currentLevel].question"></strong>
            </div>
            <div>
                <el-button
                    v-for="(item, index) in mindTests[currentLevel].answer"
                    v-bind:key="'answer' + index"
                    @click.native="nextLevel(index)"
                >
                    A{{ index + 1 }} {{item.label}}
                </el-button>
            </div>
        </div>
        <div v-else>
            <el-button type="primary" @click.native = "goResultPage">결과보기</el-button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isComplete: false
        }
    },
    computed: {
        currentLevel() {
            return this.$store.getters[this.$mindTestConstants.GET_CURRENT_LEVEL]
        },
        mindTests() {
            return this.$store.getters[this.$mindTestConstants.GET_MIND_TESTS]
        },
        selectedTests() {
            return this.$store.getters[this.$mindTestConstants.GET_SELECTED_TESTS]
        },
    },
    methods: {
       nextLevel(index) {
           this.$store.commit(this.$mindTestConstants.FETCH_SELECTED_TESTS, index)

           if (this.currentLevel !== this.mindTests.length - 1) {
               let levelPoint = this.currentLevel + 1
               this.$store.commit(this.$mindTestConstants.FETCH_CURRENT_LEVEL, levelPoint)
           }

           if (this.selectedTests.length === this.mindTests.length) {
               this.isComplete = true;
           }
       },
       goResultPage() {
           this.$router.replace('/page-result')
       }
    }
}
</script>
